<mat-card-content fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="start end" class="note">
        <h3>NOTE</h3>
        <ul style="font-size: 13px;background-color: #005c95;color: white;padding: 1em;border-radius: 5px;">
            <li style="margin-left: 0;">This App is automatically configuring the Webhook in the Mist Org if needed.
            </li>
            <li style="margin-left: 0;">Only the topics configured with this App will be processed, <span style="text-decoration: underline;">all the other messages will be discared</span>. Some topics are not supported by purpose.</li>
        </ul>
    </div>

    <div fxLayout="row" fxLayoutAlign="start end">
        <h3>GENERAL</h3>
        <div style="margin-left: 2em">
            <mat-form-field>
                <mat-label>Max Events in Memory</mat-label>
                <input type="number" matInput [(ngModel)]="maxItems" cdkFocusInitial min="0" placeholder="5000">
            </mat-form-field>
        </div>
    </div>

    <div style="margin: 1em 3em">
        <mat-divider></mat-divider>
    </div>

    <div fxLayout="row" fxLayoutAlign="start end" style="margin-top: 16px">
        <h3>TOPICS</h3>

        <div fxLayout="row" fxLayoutAlign="space-between start" style="margin:0 0 16px; flex: auto">
            <div *ngFor="let topic of topics | keyvalue" style="margin: 0 2em;">

                <mat-slide-toggle [checked]="topic.value" (change)="updateTopic(topic.key, $event)">
                    {{topic.key}}
                </mat-slide-toggle>

            </div>
        </div>
    </div>

    <div style="margin: 1em 3em">
        <mat-divider></mat-divider>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start" style="margin-top: 16px">
        <h3>ORGS</h3>
        <div fxLayout="row" fxLayoutAlign="space-around start" style="margin:0 0 16px 2em; flex: auto">
            <div fxLayout="column">
                <h4>Available Orgs</h4>
                <mat-list style="height: 400px; width: 350px; overflow-y: auto; overflow-x:clip; border: 1px solid lightgray; border-radius: 5px;">
                    <mat-form-field appearance="fill" style="width: 100%; margin: -1em 0;">
                        <mat-label>Search Org</mat-label>
                        <input matInput [(ngModel)]="search_available_orgs">
                        <button *ngIf="search_available_orgs" matSuffix mat-icon-button aria-label="Clear" (click)="search_available_orgs=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>

                    <div *ngFor="let org of orgs_available" class="orgs" (click)="addOneOrg(org)" style="justify-content: space-between;">
                        <mat-list-item *ngIf="org.name.toLowerCase().indexOf(search_available_orgs.toLowerCase()) >= 0" fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
                            <div style="flex: auto; font-size: small;">
                                {{org.name}}
                            </div>
                            <span class="material-icons">
                                arrow_forward
                            </span>
                        </mat-list-item>
                    </div>

                </mat-list>
            </div>
            <div fxLayout="column">
                <h4>Activated Orgs</h4>
                <mat-list style="height: 400px; width: 350px; overflow-y: auto; overflow-x:clip; border: 1px solid lightgray; border-radius: 5px; ">
                    <mat-form-field appearance="fill" style="width: 100%; margin: -1em 0;">
                        <mat-label>Search Org</mat-label>
                        <input matInput [(ngModel)]="search_activated_orgs">
                        <button *ngIf="search_activated_orgs" matSuffix mat-icon-button aria-label="Clear" (click)="search_activated_orgs=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>

                    <div *ngFor="let org of orgs_activated" class="orgs" (click)="deleteOneOrg(org)">
                        <mat-list-item *ngIf="org.name.toLowerCase().indexOf(search_activated_orgs.toLowerCase()) >= 0" fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
                            <span class="material-icons">
                                arrow_backward
                            </span>
                            <div style="flex: auto; text-align: end; font-size: small;">
                                {{org.name}}
                            </div>
                        </mat-list-item>
                    </div>

                </mat-list>
            </div>
        </div>
    </div>
    <mat-card-actions>
        <button mat-stroked-button color="primary" (click)="cancel()" style="margin: 1em 1em 0">
            Cancel
        </button>
        <button mat-raised-button color="primary" (click)="save()" style="margin: 1em 1em 0">
            Save
        </button>
    </mat-card-actions>
</mat-card-content>