h2 {
    font-weight: 400;
}

.login-card-outer {
    background-color: #ececec;
}

.login-form-inner {
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 22em;
    position: relative;
    margin: auto;
    margin: 2em;
    border-radius: 0.3em;
}

.login-form-outer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form-inputs {
    padding: 10px;
    width: 22em;
    height: 28em;
    text-align: center;
    justify-content: space-between;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.loading {
    position: absolute;
    border-radius: 5px;
    top: 0;
    left: 0;
    margin: 10px;
    width: 22em;
    height: 28em;
    background-color: #ffffff9c;
    display: flex;
    flex-direction: row;

    div {
        display: flex;
        flex-direction: column;
    }
}


.loading div {
    margin: auto;
    align-self: center;
}

.mat-form-field {
    margin: 0 .2em;
}

mat-card {
    height: 100%
}

.disclaimer {
    width: 50em;
    text-align: center;
    text-transform: uppercase;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 100;
    font-size: smaller;
    margin: 5em auto;
}

.source {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.source img {
    margin: 1em;
    height: 2em;
}



.github-fork-me {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
}