<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>webhhook.mist-lab.fr</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="mat-typography">
    <app-root></app-root>
<script src="/ng/runtime.710f163c18f2c9065264.js" defer></script><script src="/ng/polyfills.654b0ce57de84441bf1a.js" defer></script><script src="/ng/styles.c4ba2c665ad6a7f6bd74.js" defer></script><script src="/ng/main.342634e81aa71b4026f9.js" defer></script></body>

</html>