<div fxLayout="row" style="height: 100%;">
    <!-- NAV  -->
    <div fxLayout="row" fxLayoutAlign="flex-end center" class="nav">
        <div fxLayout="row" fxLayoutAlign="start">
            <button mat-icon-button color="primary" aria-label="Example icon button with a heart icon">
                <mat-icon>view_column</mat-icon>
              </button>
            <button mat-icon-button color="primary" aria-label="Configuration" (click)="openConfig()">
                <mat-icon>settings</mat-icon>
              </button>
            <button mat-icon-button color="primary" aria-label="Example icon button with a heart icon">
                <mat-icon>logout</mat-icon>
              </button>
        </div>
    </div>
    <!-- MAIN  -->
    <div fxLayout="column" fxLayoutAlign="stretch" class="main">
        <mat-card class="dashboard-content table-parent-container">
            <div fxLayout="row" fxLayoutAlign="space-between center ">
                <mat-form-field style="flex: auto; margin: 0 1em">
                    <mat-label>Filter</mat-label>
                    <mat-chip-list #chipList aria-label="Filter selection">
                        <mat-chip *ngFor="let item of items" (removed)="remove(item)">
                            {{item}}
                            <button matChipRemove>
                          <mat-icon>cancel</mat-icon>
                        </button>
                        </mat-chip>
                        <input placeholder="New Filter..." #filterInput [formControl]="filterCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let item of filteredEvents | async" [value]="item">
                            {{item}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-paginator #paginator [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" aria-label="Select page">
                    </mat-paginator>
                </div>
            </div>
            <div class="table-container">
                <table mat-table [dataSource]="eventDataSource" matSort>

                    <!-- DATE -->
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.timestamp}} </td>
                    </ng-container>

                    <!-- EVENT TYPE -->
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>EVENT TYPE</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.type}} </td>
                    </ng-container>

                    <!-- ORG -->
                    <ng-container matColumnDef="org_id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>ORG</th>
                        <td mat-cell *matCellDef="let element" style="color: #0e63ad; cursor: pointer;">
                            {{element.org_id}} </td>
                    </ng-container>

                    <!-- SITE -->
                    <ng-container matColumnDef="site_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>SITE</th>
                        <td mat-cell *matCellDef="let element" style="color: #0e63ad; cursor: pointer;">
                            {{element.site_name}} </td>
                    </ng-container>

                    <!-- DEVICE NAME -->
                    <ng-container matColumnDef="device_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>DEVICE NAME</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.device_name}}</td>
                    </ng-container>

                    <!-- DEVICE MAC -->
                    <ng-container matColumnDef="device_mac">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>DEVICE MAC</th>
                        <td mat-cell *matCellDef="let element" style="color: #0e63ad; cursor: pointer;">
                            {{element.device_mac}}</td>
                    </ng-container>

                    <!-- EVENT TEXT -->
                    <ng-container matColumnDef="text">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>EVENT DETAILS</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.text}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                </table>
            </div>
        </mat-card>
    </div>
</div>