<div fxLayout="row" style="height: 100%;">
    <!-- NAV  -->
    <div fxLayout="row" fxLayoutAlign="flex-end center" class="nav">
        <div fxLayout="row" fxLayoutAlign="start">
            <button mat-icon-button color="primary" aria-label="Example icon button with a heart icon" disabled>
                <mat-icon>view_column</mat-icon>
            </button>
            <button mat-icon-button color="primary" aria-label="Configuration" (click)="openConfig()">
                <mat-icon>settings</mat-icon>
            </button>
            <button mat-icon-button color="primary" aria-label="Example icon button with a heart icon">
                <mat-icon>logout</mat-icon>
            </button>
        </div>
    </div>
    <!-- MAIN  -->
    <div fxLayout="column" fxLayoutAlign="stretch" class="main">
        <mat-card class="dashboard-content table-parent-container">
            <div fxLayout="row" fxLayoutAlign="space-between flex-end" style="height: 5em">
                <form [formGroup]="filterForm" style="flex: auto; margin: 0 1em">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Filter</mat-label>
                        <mat-chip-list #chipList aria-label="Filter selection">
                            <mat-chip *ngFor="let item of filteringItems" (removed)="remove(item)" style="font-size: smaller; font-weight: normal; min-height: 20px;">
                                {{item}}
                                <button matChipRemove>
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </mat-chip>
                            <input placeholder="New Filter..." #filterInput matInput formControlName="filterGroup" [matAutocomplete]="autoGroup" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                        <mat-autocomplete #autoGroup="matAutocomplete" (optionSelected)="selected($event)">
                            <mat-optgroup *ngFor="let filter of filterOptions | async" [label]="filter.column">
                                <mat-option *ngFor="let value of filter.values" [value]="value" style="font-size: smaller; height: 25px;;">
                                    {{value}}
                                </mat-option>
                            </mat-optgroup>
                        </mat-autocomplete>
                    </mat-form-field>
                </form>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-paginator #paginator [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" aria-label="Select page">
                    </mat-paginator>
                </div>
            </div>
            <div class="table-container">
                <table mat-table [dataSource]="filteredEventDataSource" matSort>

                    <!-- DATE -->
                    <ng-container matColumnDef="timestamp">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="min-width: 10em;">Date</th>
                        <td mat-cell *matCellDef="let element" [ngClass]="element._new ? 'new': 'old'">
                            <div *ngIf="element.timestamp"> {{element.timestamp * 1000 | date:'dd/MM/yy, HH:mm:ss '}}
                            </div>
                        </td>
                    </ng-container>

                    <!-- EVENT TOPIC -->
                    <ng-container matColumnDef="topic">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="min-width: 8em;">TOPIC</th>
                        <td mat-cell *matCellDef="let element" [ngClass]="element._new ? 'new': 'old'">
                            {{element.topic}}
                        </td>
                    </ng-container>

                    <!-- EVENT TYPE -->
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="min-width: 15em;">EVENT TYPE</th>
                        <td mat-cell *matCellDef="let element" [ngClass]="element._new ? 'new': 'old'">
                            {{element.type}}
                        </td>
                    </ng-container>

                    <!-- ORG -->
                    <ng-container matColumnDef="org_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="min-width: 10em;">ORG</th>
                        <td mat-cell *matCellDef="let element" [ngClass]="element._new ? 'new': 'old'">
                            {{element.org_name}}
                        </td>
                    </ng-container>

                    <!-- SITE -->
                    <ng-container matColumnDef="site_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="min-width: 12em;">SITE</th>
                        <td mat-cell *matCellDef="let element" [ngClass]="element._new ? 'new': 'old'">
                            {{element.site_name}}
                        </td>
                    </ng-container>

                    <!-- DEVICE NAME -->
                    <ng-container matColumnDef="device_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="min-width: 12em;">DEVICE NAME</th>
                        <td mat-cell *matCellDef="let element" [ngClass]="element._new ? 'new': 'old'">
                            {{element.device_name}}
                        </td>
                    </ng-container>

                    <!-- DEVICE MAC -->
                    <ng-container matColumnDef="mac">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="min-width: 9em;">DEVICE MAC</th>
                        <td mat-cell *matCellDef="let element" [ngClass]="element._new ? 'new': 'old'">
                            {{element.mac}}</td>
                    </ng-container>

                    <!-- EVENT TEXT -->
                    <ng-container matColumnDef="text">
                        <th mat-header-cell *matHeaderCellDef>EVENT DETAILS</th>
                        <td mat-cell *matCellDef="let element" [ngClass]="element._new ? 'new': 'old'">
                            {{element.text}}</td>
                    </ng-container>

                    <!-- MENU -->
                    <ng-container matColumnDef="menu">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element" [ngClass]="element._new ? 'new': 'old'">
                            <button mat-icon-button [matMenuTriggerFor]="menu" style="color: #0e63ad;" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="openRaw(element)">
                                    <mat-icon>text_snippet</mat-icon>
                                    <span>Raw Data</span>
                                </button>
                                <button mat-menu-item [disabled]="!element.org_id || !element.site_id" (click)="openSiteInsights(element.org_id, element.site_id)">
                                    <mat-icon>analytics</mat-icon>
                                    <span>Site Insights</span>
                                </button>
                                <button mat-menu-item [disabled]="!element.org_id || !element.site_id" (click)="openSiteEvents(element.org_id, element.site_id)">
                                    <mat-icon>fact_check</mat-icon>
                                    <span>Site Events</span>
                                </button>
                                <button mat-menu-item *ngIf="element.device_type && element.device_type=='ap'" [disabled]="!element.org_id || !element.site_id" (click)="openDevicesList(element.device_type, element.org_id, element.site_id)">
                                    <mat-icon>list</mat-icon>
                                    <span>APs List</span>
                                </button>
                                <button mat-menu-item *ngIf="element.device_type && element.device_type=='switch'" [disabled]="!element.org_id || !element.site_id" (click)="openDevicesList(element.device_type,element.org_id, element.site_id)">
                                    <mat-icon>list</mat-icon>
                                    <span>Switches List</span>
                                </button>
                                <button mat-menu-item *ngIf="element.device_type && element.device_type=='gateway'" [disabled]="!element.org_id || !element.site_id" (click)="openDevicesList(element.device_type,element.org_id, element.site_id)">
                                    <mat-icon>list</mat-icon>
                                    <span>Gateways List</span>
                                </button>
                                <button mat-menu-item *ngIf="element.device_type && element.mac" [disabled]="!element.org_id || !element.site_id" (click)="openDeviceInsights(element.device_type,element.mac, element.org_id, element.site_id)">
                                    <mat-icon>analytics</mat-icon>
                                    <span>Device Insights</span>
                                </button>
                                <button mat-menu-item *ngIf="element.device_type && element.mac" [disabled]="!element.org_id || !element.site_id" (click)="openDeviceConfig(element.device_type,element.mac, element.org_id, element.site_id)">
                                    <mat-icon>settings</mat-icon>
                                    <span>Device Configuration</span>
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                </table>
            </div>
        </mat-card>
        <div fxLayout="row" fxLayoutAlign="center center" style="margin: 0.5em;">
            <div style="margin: 0.5em;">Websocket Status: </div>
            <div fxLayout="row" fxLayoutAlign="center center" *ngIf="!socket_initialized">Connecting...
                <mat-spinner strokeWidth=3 diameter=20 style="margin: 0.5em;"></mat-spinner>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" *ngIf="socket_initialized && socket_error">Unable to reconnect to the server...
                <mat-progress-spinner mode="determinate" color="warn" value="100" strokeWidth=3 diameter=20 style="margin: 0.5em;">
                </mat-progress-spinner>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" *ngIf="socket_initialized && socket_connected && !socket_reconnecting && !socket_error">Connected
                <mat-progress-spinner mode="determinate" color="accent" value="100" strokeWidth=3 diameter=20 style="margin: 0.5em;">
                </mat-progress-spinner>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" *ngIf="socket_initialized && !socket_connected && socket_reconnecting && !socket_error">Reconnecting...
                <mat-spinner color="warn" strokeWidth=3 diameter=20 style="margin: 0.5em;"></mat-spinner>
            </div>
        </div>
    </div>
</div>